.loseContainer {
    width: 460px;
    height: 460px;
    row-gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youLose {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: rgb(29, 61, 29);
}

.scoreContainer {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: rgb(29, 61, 29);
}

.score {
    color: rgb(233, 221, 221);
}