.buttonsContainer {
    display: flex;
    column-gap: 20px;
    margin: 10px 0;
}

.button {
    width: 60px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(31, 128, 12);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(12, 158, 56);
}

.buttonText {
    font-family: 'Press Start 2P', cursive;
    color: rgb(199, 209, 200);
}