.snakeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fieldItem {
    outline: 1px solid grey;
    width: 50px;
    height: 50px;
}

.isFood {
    outline: 1px solid grey;
    width: 50px;
    height: 50px;
    background-color: red;
}

.isHead {
    outline: 1px solid grey;
    width: 50px;
    height: 50px;
    background-color: black;
}

.isTail {
    outline: 1px solid grey;
    width: 50px;
    height: 50px;
    background-color: yellow;
}