@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameName {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.4rem;
    color: rgb(29, 61, 29);
}